.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.main-network {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h4 {
  margin-left: 10px;
}

.main-network-miner-feed {
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-network-miner-feed-header {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.main-network-miner-feed-body {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main-network-blockchain-feed-block-number {
  color: #9e9e9e;
}

.main-network-blockchain-feed {
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  box-shadow: -6px 0 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-network-blockchain-feed-header {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.main-network-blockchain-feed-body {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-y: scroll;
}

.main-network-blockchain-feed-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-network-blockchain-feed-block-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-network-blockchain-feed-block-body-line {
  width: 2px;
  height: 14px;
  border: 1px solid #9e9e9e;
  margin-top: -9px;
  margin-bottom: -10px;
}

.main-network-nodes {
  width: 70%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100vh;
  background: gray;
}

:host ::ng-deep {
  p-panel {
    .ui-panel-titlebar {
      background-color: #00675b;
      color: white;
      border: none;
      font-size: 10px;
    }
    .ui-panel-titlebar-toggler {
      color: white;
      font-size: 10px;
    }
  }
}
