<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span
      >Crypto(con)currency: Analyzing Blockchain Correctness With Concurrent
      Ethereum</span
    >
  </mat-toolbar-row></mat-toolbar
>

<div class="main">
  <div class="main-network" *ngIf="nodes && nodes.length > 0">
    <div class="main-network-miner-feed">
      <div class="main-network-miner-feed-blurb" *ngFor="let log of minerLogs">
        <app-miner-blurb [log]="log"></app-miner-blurb>
      </div>
    </div>
    <div class="main-network-nodes">
      <mat-grid-list cols="4" rowHeight="105px">
        <mat-grid-tile
          *ngFor="let node of nodes"
          [colspan]="node.cols"
          [rowspan]="2"
        >
          <app-node
            [name]="node.name"
            [nodes]="nodes"
            (mining)="onMinerStart($event)"
          ></app-node>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="main-network-blockchain-feed">
      <div
        class="main-network-blockchain-feed-block"
        *ngFor="let block of blockchain"
      >
        <div class="main-network-blockchain-feed-block-number">
          {{ block.number }}
        </div>
        <app-block [block]="block"></app-block>
      </div>
    </div>
  </div>
  <div *ngIf="!nodes || nodes.length === 0">
    <ng-container *ngIf="loading">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="!loading">
      <button mat-raised-button color="accent" (click)="startNodes()">
        Start All Nodes
      </button>
    </ng-container>
  </div>
</div>
