<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar">
      <span
        >Crypto(con)currency: Analyzing Blockchain Correctness With Concurrent
        Ethereum</span
      >
      <ng-container *ngIf="nodes && nodes.length > 0">
        <button
          mat-raised-button
          color="accent"
          [(disabled)]="!miner"
          (click)="poolTransactions()"
        >
          Pool Random Transactions
        </button>
      </ng-container>
    </div>
  </mat-toolbar-row></mat-toolbar
>

<div class="main">
  <div class="main-network" *ngIf="nodes && nodes.length > 0">
    <div class="main-network-miner-feed">
      <div class="main-network-miner-feed-header">
        <h4>Miner Feed</h4>
      </div>
      <div class="main-network-miner-feed-body">
        <div
          class="main-network-miner-feed-blurb"
          *ngFor="let log of minerLogs"
        >
          <app-miner-blurb [log]="log"></app-miner-blurb>
        </div>
      </div>
    </div>
    <div class="main-network-nodes">
      <mat-grid-list cols="4" rowHeight="105px">
        <mat-grid-tile
          *ngFor="let node of nodes"
          [colspan]="node.cols"
          [rowspan]="2"
        >
          <app-node
            [name]="node.name"
            [node]="node"
            [(canMine)]="!miner || miner === node.name"
            [nodes]="nodes"
            (mining)="onMinerChange($event)"
          ></app-node>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="main-network-blockchain-feed">
      <div class="main-network-blockchain-feed-header">
        <h4>Blockchain</h4>
      </div>
      <div id="blockchainBody" class="main-network-blockchain-feed-body">
        <div
          id="blockList"
          class="main-network-blockchain-feed-block"
          *ngFor="let block of blockchain"
        >
          <div class="main-network-blockchain-feed-block-number">
            {{ block.number }}
          </div>
          <div class="main-network-blockchain-feed-block-body">
            <app-block [block]="block"></app-block>
            <div class="main-network-blockchain-feed-block-body-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!nodes || nodes.length === 0">
    <ng-container *ngIf="loading">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="!loading">
      <button mat-raised-button color="accent" (click)="startNodes()">
        Start All Nodes
      </button>
    </ng-container>
  </div>
</div>
