<div class="blurb">
  <div class="blurb-header">
    <div class="blurb-header-avatar">
      <ng-container *ngIf="_log.miner === 'Bob'">
        <img
          src="assets/flat_avatar_faye.png"
          alt="Faye Avatar"
          width="25"
          height="25"
        />
      </ng-container>
      <ng-container *ngIf="_log.miner === 'Alice'">
        <img
          src="assets/flat_avatar_sam.png"
          alt="Sam Avatar"
          width="25"
          height="25"
        />
      </ng-container>
      <ng-container *ngIf="_log.miner === 'Lily'">
        <img
          src="assets/flat_avatar_ryan.png"
          alt="Ryan Avatar"
          width="25"
          height="25"
        />
      </ng-container>
      <ng-container *ngIf="_log.miner === 'Ross'">
        <img
          src="assets/flat_avatar_ross.png"
          alt="Ross Avatar"
          width="25"
          height="25"
        />
      </ng-container>
      <ng-container *ngIf="_log.miner === 'Zach'">
        <img
          src="assets/flat_avatar_zach.png"
          alt="Zach Avatar"
          width="25"
          height="25"
        />
      </ng-container>
    </div>
    <div class="blurb-header-text">
      <div class="blurb-header-text-tag">@{{ _log.miner }}TheMiner</div>
      <div class="blurb-header-text-date">
        {{ _log.timeStamp.toLocaleString("en-US") }}
      </div>
    </div>
  </div>
  <div class="blurb-body">
    {{ _log.message }}
  </div>
</div>
