.blurb {
  width: 230px;
  min-height: 60px;
  background-color: #eceff1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 5px;
}

.blurb-header {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 5px;
}

.blurb-header-text {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-bottom: 2px;
}

.blurb-header-text-tag {
  color: #9e9e9e;
}

.blurb-header-text-date {
  color: #bdbdbd;
}

.blurb-body {
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 5px;
}
