.card {
  width: 300px;
  height: 150px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.node {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.node-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.node-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node-name {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
}
