<div class="node">
  <div class="node-main">
    <div class="node-name">
      {{ _name }}
    </div>
    <ng-container *ngIf="_name === 'Bob'">
      <img
        src="assets/flat_avatar_faye.png"
        alt="Faye Avatar"
        width="150"
        height="150"
      />
    </ng-container>
    <ng-container *ngIf="_name === 'Alice'">
      <img
        src="assets/flat_avatar_sam.png"
        alt="Sam Avatar"
        width="150"
        height="150"
      />
    </ng-container>
    <ng-container *ngIf="_name === 'Lily'">
      <img
        src="assets/flat_avatar_ryan.png"
        alt="Ryan Avatar"
        width="150"
        height="150"
      />
    </ng-container>
    <ng-container *ngIf="_name === 'Ross'">
      <img
        src="assets/flat_avatar_ross.png"
        alt="Ross Avatar"
        width="150"
        height="150"
      />
    </ng-container>
    <ng-container *ngIf="_name === 'Zach'">
      <img
        src="assets/flat_avatar_zach.png"
        alt="Zach Avatar"
        width="150"
        height="150"
      />
    </ng-container>
    <div class="node-buttons">
      <div class="node-buttons-button u-default-margin">
        <ng-container *ngIf="!isMining">
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Start miner"
            matTooltipPosition="right"
            [(disabled)]="!_canMine"
            (click)="startMiner()"
          >
            <mat-icon>memory</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="isMining">
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Stop miner"
            matTooltipPosition="right"
            (click)="stopMiner()"
          >
            <mat-icon>stop</mat-icon>
          </button>
        </ng-container>
      </div>
      <div class="node-buttons-button u-default-margin">
        <button
          mat-mini-fab
          color="primary"
          matTooltip="Send transaction"
          matTooltipPosition="right"
          (click)="openDialog()"
        >
          <mat-icon>local_atm</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
