<!DOCTYPE html>

<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container u-flex-col">
    <div class="header">
      <% include ../partials/header %>
    </div>
    <div class="main">
      <% include ../partials/body %>
    </div>
  </body>
</html>
