<h1 mat-dialog-title>Send Transaction From {{ sendFromNode.name }}</h1>
<div mat-dialog-content>
  <p>Who do you want to send Ether to?</p>
  <p>Account Balance: {{ sendFromNode.balance }}</p>
  <form>
    <mat-form-field>
      <mat-label>Select a recipient</mat-label>
      <mat-select [(value)]="sendToNode">
        <mat-option *ngFor="let node of nodeList" [value]="node">
          {{ node }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Amount"
        [(ngModel)]="amount"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="{ sendTo: sendToNode, amount: amount }"
    cdkFocusInitial
  >
    Send
  </button>
</div>
